.box1{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.rightside{
    width: 70%;
}
.leftside{
    border: 1px #eeeeee solid;
    width: 30%;
    margin-top: 20px;

}
.box-text{
    border: 1px #eeeeee solid;
    margin-right: 40px;
    padding-left: 20px;
    padding-right: 10px;
}
.title{
    color: #484848;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}
.titleh3{
    color: #484848;
    padding-left: 20px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}
.hero-img{
    margin-top: 40px;
}
.bookbutton{
    background-color:#ff5a5f;
    color: white;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;  
    border: none;
    margin-left: 10%;  
}
